@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    font-family: "Inter", sans-serif;
}

@media (max-width: 991.99px) {
    .body .container-fluid {
        padding-left: 15px;
    }

    .breadcrumb-container {
        padding-left: 15px !important;
    }
}

.table-rounded {
    border-radius: 0.5rem;
    overflow: hidden;
}

.table-rounded table thead tr:first-child th:first-child {
    border-top-left-radius: 0.5rem;
}
.table-rounded table thead tr:first-child th:last-child {
    border-top-right-radius: 0.5rem;
}
.table-rounded table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}
.table-rounded table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
